<a href="https://colab.research.google.com/github/udaykiran811/Data-Mining/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

print("\n Data Encoding")
data = {'Type': ['Red', 'Blue', 'Green', 'Red', 'Blue', 'Green', 'Red']}
df = pd.DataFrame(data)

label_encoder = LabelEncoder()
df['Type_Encoded'] = label_encoder.fit_transform(df['Type'])

one_hot_encoded = pd.get_dummies(df['Type'], prefix='Type')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

print("\n Creating Derived Columns (Years of Experience from Start Year)")
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Start_Year': ['2015', '2010', '2018', '2012', '2016']
}
df = pd.DataFrame(data)

df['Start_Year'] = pd.to_datetime(df['Start_Year'], format='%Y')
current_year = datetime.now().year
df['Years_of_Experience'] = current_year - df['Start_Year'].dt.year
print(df)

print("\n Grouping and Aggregating Data")
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 55000, 70000, 75000, 80000, 85000, 52000, 78000, 90000]
}
df = pd.DataFrame(data)

grouped = df.groupby('Department').agg({'Salary': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

pivot = df.pivot_table(index='Department', values='Salary', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

 Data Encoding
    Type  Type_Encoded  Type_Blue  Type_Green  Type_Red
0    Red             2      False       False      True
1   Blue             0       True       False     False
2  Green             1      False        True     False
3    Red             2      False       False      True
4   Blue             0       True       False     False
5  Green             1      False        True     False
6    Red             2      False       False      True

 Creating Derived Columns (Years of Experience from Start Year)
  Employee Start_Year  Years_of_Experience
0    Alice 2015-01-01                   10
1      Bob 2010-01-01                   15
2  Charlie 2018-01-01                    7
3    David 2012-01-01                   13
4      Eve 2016-01-01                    9

 Grouping and Aggregating Data
Grouped Data:
             Salary
               sum          mean
Department
Finance     255000  85000.000000
HR          157000  52333.333333
IT          223000  74333.333333

Pivot Table:
                sum          mean
            Salary        Salary
Department
Finance     255000  85000.000000
HR          157000  52333.333333
IT          223000  74333.333333